.blue_border{
    border-radius: 50%;
    
    height: 200px;
    width: 200px;
    border: 10px,solid,black;
    
}
.back_ground{
    background-color: antiquewhite;
    border: 10px,solid,burlywood;
}
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }